body {
background-color: black;
color: rgb(255,174,255);
}
img {
image-orientation: from-image;
}
.head1
{
text-align: center;
font-size: 75px;
color: rgb(255,174,255);
font-style: italic;
}

.headUs {
text-align: center;
font-size: 50px;
color: rgb(255,174,255);
font-style: italic;
}

.headR {
color: rgb(187,159,255);
font-style: italic;
text-align: center;
font-size: 50px;
}

.flexbox {
display: flex;
flex-flow: row nowrap;
justify-content: space-between;

}

#nav {
color: rgb(255,174,255);
font-style: italic;
}

p {
color: rgb(255,174,255);
}

a:link{
color: rgb(255,174,255);
text-decoration: none;
}
a:visited {
color: rgb(255,174,255);
text-decoration: none;
}
a:hover {
color: hotpink;
text-decoration: none;
}
a:active {
color: rgb(255,174,255);
text-decoration: underline;
}

.head2 {
color: rgb(187,159,255);
font-style: italic;
text-align: center;
font-size: 36px;
}

.gallery {
text-align: center;
}

.rLeft {
transform: rotate(90deg);
}

.rRight {
transform: rotate(-90deg);
}

.rFlip {
transform: rotate(180deg);
}

.shrink {
transform: matrix(0.5, 0, 0, 0.5, 0, -150);

}

.grow {
transform: matrix(1.5, 0, 0, 1.5, 0, 50);
}

.us20 {
transform: rotate(90deg) matrix(0.5, 0, 0, 0.5, -125, 0); 

}

#reasonGenerator {
text-align: center;
font-size: 36px;
font-style: italic;

}

button {
font-size: 30;
padding: 14px 40px;
border-radius: 8px;
background-color: rgb(210, 165, 255);
float: center;
}

.box {
text-align: center;
width: 500px;
border: 2px solid rgb(210, 194,255);

}

.celebration {
background-image: url("glitter.gif");
background-repeat: repeat;
background-color: black;
color: rgb(255,174,255);
}
